.contact-bg{
    background-color: #0C3C60;
    color: white;
    padding: 50px;
}

.submit{
    background-color: #072136;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.select{
    color: white;
    transition: all 1s;
}
.select:hover{
    text-decoration: none;
}
.modal-content{
    background-color: #AFE0F9;
    color: white;
}
.close-btn{
    background-color: #072136;
    color: white;
}
.close-btn:hover{
    color: white;
}